body{
    background-color: #ffff;
}

.bg-primary{
    background-color: #fec7d7;
}
.bg-secondary{
    background-color: #d9d4e7;
}
.bg-light{
    background-color: #a786df;
}
.text-primary{
    color:#fec7d7;
}
.text-secondary{
    background-color: #d9d4e7;

}
.text-dark{
    color: #0e172c;
}
.text-center{
    text-align: center;
}
.btn{
    padding: 10px 30px;
    border-radius: 50px;
    border:none;
    cursor:pointer;
    box-shadow: 0 5px 15px #d9d4e7;
    margin: 0px 5px;
    
}
.btn-primary{
    background-color: #f582ae; 
  
}
.btn-secondary{
    background-color:#001858;
    color:#ffff;

}
.btn:hover{
    box-shadow: 0px 10px 10px 0px #d9d4e7;

}